<!-- Student name: Timothy, KWOK Ting Hei
Student ID: 301246247
Date: 29-May-2023 -->
<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-6 navbar-text">&copy;2023 All rights reserved</h6>
    </div>
    </nav>
  </footer>
