<!-- Student name: Timothy, KWOK Ting Hei
Student ID: 301246247
Date: 29-May-2023 -->
 <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>