<!-- File name: index.ejs
Student name: Timothy, KWOK Ting Hei
Student ID: 301246247
Date: 29-May-2023 -->
<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my site</h1>
    <div id="profilePic">
      <p>
        I am available to provide a wide range of services from accounting to
        software engineering, including but not limited to:
      </p>
      <div id="flex-container">
        <figure>
          <img
            src="/img/bookkeeping.png"
            alt="general bookkeeping"
            class="icons" />
          <figcaption>general<br />bookkeeping</figcaption>
        </figure>
        <figure>
          <img src="/img/finance.png" alt="general bookkeeping" class="icons" />
          <figcaption>daily<br />finance<br />activities</figcaption>
        </figure>
        <figure>
          <img src="/img/audit.png" alt="general bookkeeping" class="icons" />
          <figcaption>statutory<br />audit</figcaption>
        </figure>
        <figure>
          <img src="/img/credit.png" alt="general bookkeeping" class="icons" />
          <figcaption>credit<br />control</figcaption>
        </figure>
        <figure>
          <img
            src="/img/business.png"
            alt="general bookkeeping"
            class="icons" />
          <figcaption>business<br />intelligence<br />analytics</figcaption>
        </figure>
        <figure>
          <img
            src="/img/programming.png"
            alt="general bookkeeping"
            class="icons" />
          <figcaption>general<br />programming</figcaption>
        </figure>
        <figure>
          <img
            src="/img/data-structure.png"
            alt="general bookkeeping"
            class="icons" />
          <figcaption>data<br />structure</figcaption>
        </figure>
        <figure>
          <img src="/img/web.png" alt="general bookkeeping" class="icons" />
          <figcaption>web<br />development</figcaption>
        </figure>
      </div>
    </div>
    <p>
      Perferred name: Timothy<br />
      Surname: KWOK<br />
      Given name: Ting-Hei<br />
      Phone: (647)460-7732<br />
      Email :
      <a href="mailto:tkwok15@my.centennialcollege.ca">heititanic@gmail.com</a
      ><br />
      LinkedIn: <a href="https://www.linkedin.com/in/010721185/">010721185</a
      ><br />
      Github: <a href="https://github.com/timothy918">timothy918</a><br />
      Welcome to my digital portfolio! As an aspiring professional, I'm
      dedicated to leveraging my expertise in data analysis, software
      engineering, and finance to make a meaningful impact in the professional
      world. With a strong foundation in accounting and finance, complemented by
      a deep understanding of quantitative analysis and computational
      mathematics, I bring a unique blend of analytical insight and technical
      prowess to the table. My portfolio serves as a testament to my commitment
      to excellence and problem-solving abilities. Explore my projects and
      experiences to get a glimpse of how I can contribute value to your
      organization, and don't forget to check out my
      <a
        href="/Assets/Timothy_KWOK_CV6.22.2.pdf"
        download="Timothy_KWOK_CV6.22.2.pdf">
        resume
      </a>
      for a detailed overview of my qualifications. I'm eager to connect with
      potential employers and collaborators who share a passion for innovation
      and data-driven solutions. Let's embark on a journey of exploration,
      learning, and growth together.
    </p>
  </div>
</main>
<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
